body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}


.container {
    background-color: #fff;
    max-width: 600px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #28c76f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #22b965;
}

.result-box {
    margin-top: 30px;
    padding: 20px;
    background-color: #e9f7ef;
    border-left: 5px solid #28c76f;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
}
